.finish{
    display:flex;
    flex-direction:column;
}
.finish-head h1{
    color:black;
    font-size:20vh;
    display:flex;
    justify-content:center;
    letter-spacing: 10px;

}
.scoreboard{
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 28%);
    display:flex;
    text-align:center;
    flex-direction:column;
position: relative;
    width:30%;
    left:35%;
}
.scoreboard p{
    font-weight: bold;
    font-size:25px;
    letter-spacing: 2px;

}
.twobuttons{
    display: flex;
    width: 80vh;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 10px;
}
.restart{
    margin: -10px 10px 40px 10px;
}