.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .slider {
    width: 90vw;
    margin: 5rem auto;
    max-width: 1170px;
  }
  .section-center {
    margin: 0 auto;
    margin-top: 4rem;
    width: 80vw;
    height: 375px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
  }
  article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s linear;
  }
   
  article.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
   
  article.lastSlide {
    transform: translateX(-100%);
  }
   
  article.nextSlide {
    transform: translateX(100%);
  }
   
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  .maincontainer{
    height: 100%;
      background-color: blue;
      display: flex;
      flex-direction: row;
  }
  .card-image{
      width: 22vw;
      margin-top: 30%;
      margin-left:10%;
  }
  .div1{
      background-color: rgb(255, 255, 255);
      text-align: center;      
    
  }
  .div2{
      background-color:rgb(255, 255, 255);
      width: 100%;
  }
   .div2 h3{
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 40px;
   }
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
   
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
  .progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #0c0c0c, #0e0c0b);
	box-shadow: 0 3px 3px -5px #363636, 0 2px 5px #2e2e2e;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0; 
	transition: 1s ease 0.3s;
}
.progresses{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 12%;
}
.sub-progress{
    display:flex;
    flex-direction: row;
}
.progresses h4{
    color:black;
    font-size: 15px;
}
.speed{
    margin-right:18px;

}
.health{
    margin-right:10px;

}
.jump{
    margin-right:22px;

}